@model Safirex.Models.ClassificacaoOrigem.Gestao

@{
    ViewBag.Title = "Cadastros - Exclusão de Governo";
}
<h4>@ViewBag.Title</h4>
<hr />
<h3>Você confirma a excluão do registro?</h3>
<div>
    <h4>Gestao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <div class="col-md-offset-2">
                <button formaction="@Url.Action("Delete", "Gestaos")" type="submit" data-toggle="tooltip" data-placement="bottom" title='Confirma a exclusão do registro e retorna.' value="Delete" class="btn btn-danger btn-lg glyphicon glyphicon-ok"></button>
                <button formaction="@Url.Action("Index", "Gestaos")" type="submit" data-toggle="tooltip" data-placement="bottom" title='Cancela a exclusão do registro e retorna.' class="btn btn-warning btn-lg glyphicon glyphicon-remove"></button>
            </div>
        </div>
    }
</div>
