@model Safirex.Models.Domain.Usuario
@{
    ViewBag.Title = "Create";
}

<h4>@ViewBag.Title</h4>
<hr />
@using (Html.BeginForm("Cadastro", "Usuarios"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.NomeCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NomeCompleto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomeCompleto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control ls-login-ls-password input-ls", @type = "password" } })
            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />

    <div class="form-group">
        <div class="col-md-offset-2">
            <button type="submit" value="Create" class="btn btn-success btn-lg glyphicon glyphicon-ok"></button>
            <a href="~/Home/Login" class="btn btn-danger btn-lg glyphicon glyphicon-remove" role="button"></a>
        </div>
    </div>
</div>

}



